<% performers.forEach(details => { %>
<% if (details.venue == venue) { %>
<div class="main-review">
    <h1>
        <% let poster = details.name %>

        <% function containsChar(poster) { return /[a-zA-Z]/.test(poster); } %>

        <% if (containsChar(poster)) { %>
            <span><%= poster %> - </span>
        <% } else { %>
            <span>Anonymous - </span>
        <% } %>

        <% let ratings = [parseInt(details.communication), parseInt(details.marketing), parseInt(details.stage), parseInt(details.management), parseInt(details.equipment), parseInt(details.engineer), parseInt(details.loadin), parseInt(details.timing), parseInt(details.pay), parseInt(details.reliability), parseInt(details.discount)] %>

        <% let ratingsCorrected = [] %>

        <% ratings.forEach(rating => { if (rating > 0) {ratingsCorrected.push(rating)} else if (rating == 0) {ratingsCorrected.push("N/A")} }) %>
        <% console.log(ratingsCorrected) %>

        <% let total = 0 %>
        <% let count = 0 %>

        <% ratings.forEach(rating => { if (rating > 0) { total += rating; count += 1 }}) %>

        <% for (let i = 0; i < (total / count).toFixed(0); i++) { %>
            <span class="microphone">%>&#11088</span>
        <% } %>

    </h1>
    <div>
        <div class="review-grid">
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[0] %></div><p>Communication</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[1] %></div><p>Marketing</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[2] %></div><p>Stage</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[3] %></div><p>Management</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[4] %></div><p>Equipment</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[5] %></div><p>Engineer</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[6] %></div><p>Load-in</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[7] %></div><p>Timing</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[8] %></div><p>Pay</p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[9] %></div><p>Reliability </p>
            </div>
            <div class="grid-item">
                <div class="rating"><%= ratingsCorrected[10] %></div><p>Discount</p>        
            </div>
        </div>
        <p class="comments"><span>comments...</span><br><br>"<%= details.comments %>"</p>
    </div>
    <script>
        document.querySelectorAll('.rating').forEach(rating => {
            if (rating.innerHTML == '2' || rating.innerHTML == '1') {
                rating.className = 'rating-bad';
            } else if (rating.innerHTML == 'N/A') {
                rating.className = 'rating rating-na';
            }
        })
    </script>
</div>
<% }}); %>